.container {
    display: grid;
    grid-gap: 3px;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-height: 100vh; */
}

.banner {
    grid-column: 4/8;
    grid-row:2/4;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.bannerText {
    color: white;
}

.myPic {
    grid-column: 9/11;
    grid-row: 2/4;

    height: 160px;
    width: auto;
    margin-top: 20px;
    float: right;
    border-radius: 4%;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
} 

.about {
    grid-column: 2/4;
    grid-row: 5/7;

    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: purple;
}

.projects {
    grid-column: 5/7;
    grid-row: 5/7;

    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: purple;
}

.projectList {
    grid-column: 2/4;
    grid-row: 5/7;

    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: purple;
}