.container {
    display: grid;
    grid-gap: 3px;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(80, 1fr);
    /* background-image: url('images/background.jpg'); */
    background-color: rgb(245, 187, 245);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* max-height: 100vh; */
}

.banner {
    grid-column: 2/9;
    grid-row:2/5;

    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.bannerText {
    color: black;
    text-shadow: 1px 1px rgb(51, 51, 51);
    margin-left: 30px;
}


hr {
height: 3px;
/* color: black; */
background-color: black;
border: none;
/* margin-left: 30px; */
}

/* .myPic {
    grid-column: 9/11;
    grid-row: 2/4;

    height: 160px;
    width: auto;
    margin-top: 20px;
    float: right;
    border-radius: 4%;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}  */

/* These are the links on the home page */

.text {
    color: purple;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
    font-weight: bold;
 }

.about {
    grid-column: 2/4;
    grid-row: 6/8;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 10px 40px;
    background-color:black;
    border-style: solid;
    border-radius: 50%;
}

.projects {
    grid-column: 4/6;
    grid-row: 6/8;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 10px 40px;
    background-color:black;
    border-style: solid;
    border-radius: 50%;
}

.blog {
    grid-column: 6/8;
    grid-row: 6/8;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 10px 40px;
    background-color:black;
    border-style: solid;
    border-radius: 50%;
}

.contact {
    grid-column: 8/10;
    grid-row: 6/8;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 10px 40px;
    background-color:black;
    border-style: solid;
    border-radius: 50%;
}

/* These are the links on the other pages */

.about2 {
    grid-column: 11/-1;
    grid-row: 2/3;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 5px 70px;
    background-color: black;
    border-style: solid;
    border-radius: 50%;
}

.projects2 {
    grid-column: 11/-1;
    grid-row: 3/4;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 5px 70px;
    background-color: black;
    border-style: solid;
    border-radius: 50%;
}

.blog2 {
    grid-column: 11/-1;
    grid-row: 4/5;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 5px 70px;
    background-color: black;
    border-style: solid;
    border-radius: 50%;
}

.contact2 {
    grid-column: 11/-1;
    grid-row: 5/6;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 5px 70px;
    background-color: black;
    border-style: solid;
    border-radius: 50%;
}

.home {
    grid-column: 11/-1;
    grid-row: 6/7;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 5px 70px;
    background-color: black;
    border-style: solid;
    border-radius: 50%;
}

/* These are the sections on the actual page */
.resume {
    grid-column: 2/10;
    grid-row: 5/6;
}

.gitHub {
    grid-column: 2/10;
    grid-row: 6/7;
}

.linkedIn {
    grid-column: 2/10;
    grid-row: 7/8;
}

.email {
    grid-column: 2/10;
    grid-row: 8/9;
}

.phone {
    grid-column: 2/10;
    grid-row: 9/10;
}

.resume, .gitHub, .linkedIn, .email, .phone {
    color: black;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
}

.aboutMe {
    grid-column: 2/10;
    grid-row: 5/20;

    /* background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: orange;
    opacity: .5; */

    color: black;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}

.blogNews {
    grid-column: 2/10;
    grid-row: 5/20;

    /* background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: orange;
    opacity: .5; */

    color: black;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.blogTitle {
    font-size: x-large;
}

.projectList {
    grid-column: 2/6;
    grid-row: 5/7;

    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: orange;
}

/* Projects */

.projTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

.projectPic {
    width: 400px;
    height: auto;
    border-style: solid;
    border-width: 15px;
    border-color: black;
}

.projectDescription {
    color: black;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.jarvis2 {
    grid-column: 2/11;
    grid-row: 5/10;
}

.jarvis {
    grid-column: 2/11;
    grid-row: 10/15;
}

.roadTrip {
    grid-column: 2/11;
    grid-row: 15/20;
}

.clickyGame {
    grid-column: 2/11;
    grid-row: 20/25;
}

.newsScraper {
    grid-column: 2/11;
    grid-row: 25/30;
}

.eatDaBurger {
    grid-column: 2/11;
    grid-row: 30/35;
}

.bamazon {
    grid-column: 2/11;
    grid-row: 35/40;
}

.friendFinder {
    grid-column: 2/11;
    grid-row: 40/45;
}

.liri {
    grid-column: 2/11;
    grid-row: 45/50;
}

.trainScheduler {
    grid-column: 2/11;
    grid-row: 50/55;
}

.gifTastic {
    grid-column: 2/11;
    grid-row: 55/60;
}

.harryPotterTrivia {
    grid-column: 2/11;
    grid-row: 60/65;
}

.crystalCollector {
    grid-column: 2/11;
    grid-row: 65/70;
}

.psychicGame {
    grid-column: 2/11;
    grid-row: 70/75;
}